.ant-menu-item > a {
  color: white;
  display: initial;
}

.ant-menu-inline-collapsed > .ant-menu-item .anticon + a {
  opacity: 0;
  max-width: 0;
}

.ant-layout-sider-trigger {
  padding-top: 18px;
}

.ant-breadcrumb-separator,
.ant-breadcrumb-link {
  color: white;
  text-decoration: none;
}

.ant-layout-header {
  background: white;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);

  .ant-breadcrumb-link,
  .ant-breadcrumb-separator {
    color: rgba(0, 0, 0, 0.65);
    text-decoration: none;
  }
}

.ant-layout-footer {
  padding-top: 0;
}
