.sidebar-head {
  height: 32px;
  margin: 16px;
  border-radius: 4px;
  background-color: #002140;

  h2 {
    color: white;
    font-size: 16px;
    padding: 4px 12px;
    text-align: center;
    font-variant: small-caps;
  }
}
